@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  transform : rotate(0.04deg);
}

* {
	font-family: 'Dovemayo_gothic';
  transform : rotate(0.04deg);
  border-radius: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #333; /* Dark Gray */
  color: #fff;
}

h1 {
  color: #fff; /* White */
  text-align: center;
}

p {
  color: #d9d9d9; /* Light Gray */
  font-size: 18px;
}

label {
  color: #d9d9d9;
  font-weight: bold;
}

input {
  margin: 10px;
  padding: 5px;
  border: 2px solid #d9d9d9;
  background-color: #1a1a1a; /* Dark Gray */
  color: #fff; /* White */
}

input[type=submit] {
  background-color: #FFDC49;
  color: #1a1a1a; /* Dark Gray */
  width: 2000px; /* Increase the width */
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background-color: #2b2b2b; /* Darker Gray */
  color: #d9d9d9;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 5px;
  }

  input[type=submit] {
    width: 100%;
    margin-top: 10px;
  }
}
